<!-- <div class="card courseCard col-md" style="width: 18rem;" > -->
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <a><div class="card-body">
    <h5 class="card-title">{{ childCourse.name }}</h5>
    <p class="card-text course">{{childCourse.instructors[0]}}.</p>
    <p class="card-text reviewRating"><span class="rating">{{childCourse.starRating}}</span> ({{childCourse.reviewCount}})</p>
    <p class="price"><span class="originalCost">${{childCourse.originalCost}} ${{childCourse.currentCost}} </span></p>
    <a href="#" class="btn btn-primary">Add To Cart</a>
  </div></a>
<!-- </div> -->
